@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  padding: 0;
  margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1,p{
  color:darkslategray;
}


.card {
    position: absolute;
    padding: 80px;
    top: 200px;
}

.sign-in-page-container{
  background-image: linear-gradient(
          to top right,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
  ), url("https://raw.githubusercontent.com/LordMathi2741/Report-Management-Frontend/a051c9c2481c7944703f2aaf45ca9bc6bca687f8/src/assets/backgorundSignin.png");
  background-size: cover;
  background-position: center;
    height: 100vh;
  width: 100vw;
}

.operation-center-container {
    background-image: linear-gradient(
            to top right,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url("https://raw.githubusercontent.com/LordMathi2741/Report-Management-Frontend/master/src/assets/background-search-report.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100vw;
}

.profile-container {
    background-image: linear-gradient(
            to top right,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url("https://raw.githubusercontent.com/LordMathi2741/Report-Management-Frontend/master/src/assets/background-my-profile.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;

}

.sign-up-page-container {
    background-image: linear-gradient(
            to top right,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url("https://raw.githubusercontent.com/LordMathi2741/Report-Management-Frontend/master/src/assets/background-sign-up.png");
    background-size: cover;
    background-position: center;
    height: 150vh;
    width: 100vw;

}

.emit-card-container {
    background-image: linear-gradient(
            to top right,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url("https://raw.githubusercontent.com/LordMathi2741/Report-Management-Frontend/master/src/assets/background-search-report.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;

}

.column {
    border: groove 1px black;
}




.img-size{
  width: 300px;
  height: 60px;
}

@media (width<= 600px) {
  .img-size {
    width: 200px;
    height: 40px;
  }
}

@media (width<= 396px) {
  .img-size {
    width: 150px;
    height: 30px;
  }
}




@media (width>= 1300px) {
  .card {
    top: 300px;
  }
}

@media (width <= 600px) {
  .card {
    padding:40px ;
  }
}

@media (width <= 396px) {
  .card {
    padding:30px ;
  }
}

